<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: headFragment}"></head>
<body>
<header></header>
<div class="d-flex" id="wrapper">
    <!-- nav fragment -->
    <nav th:replace="~{/fragments/nav :: navFragment}">
    </nav>
    <!-- nav fragment end -->

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- header ; control nav and etc -->
        <section th:insert="~{/fragments/contentTop :: contentTop}">
        </section>
        <!-- Page content-->
        <input type="hidden" th:field="*{id}" />
        <table>

            <tr>
                <th>제목</th>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>

            <tr>
                <th>내용</th>
                <td><textarea rows="20" cols="70" th:field="*{explanation}"></textarea></td>
            </tr>

        </table>

        <button th:onclick="updateButton()" class="btn">수정하기</button>

        <a th:href="@{/subjects/index}" class="btn">목록으로</a>
    </div>
</div>
</body>

<script th:inline="javascript">

    /*<![CDATA[*/
    let subject_id =/*[[ ${subject.id} ]]*/;
    let subject_name =/*[[ ${subject.name} ]]*/;
    let subject_explanation =/*[[ ${subject.explanation} ]]*/;
    /*]]*/

    console.log(subject_name);
    console.log(subject_explanation);

    function updateButton() { 

        const request = new XMLHttpRequest();

        request.open('PATCH', 'http://localhost:8080/subjects'+'/'+subject_id);

        req.send();

        // 현재는 단순하게, 전송하고 끝이지만, 응답내용에 따라서 보다 세밀한 설명필요
        alert('삭제가 완료되었습니다.');

    }

</script>


</html>